<form  id="table-type-form" action="{{ path('table_updateTableTypeList') }}" enctype="multipart/form-data" method="post">       
    <div class="container-fluid">   
        <div class="row-fluid"  id="fileFieldsContainer">
            <div class="row-fluid">
                <span class="span12">
                    <div class="number-tables">
                        {% trans %}main.tableMap.tableList.form.label.tableOn{% endtrans %}
                        <input type="text" name="peopleCount[]" size="2"/>
                        {% trans %}main.tableMap.tableList.form.label.numberOfPlaces{% endtrans %}
                    </div>
                    <span class="btn btn-success btn-file">
                        <span>{% trans %}main.tableMap.tableList.form.label.selectTheFile{% endtrans %}</span>
                        <input type="file" name="file[]" id="image" size="1">
                    </span>
                    <span class="files-download"></span>
                </span>
            </div>    
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="load-file">
                    <a href="#" onclick="page.common.addNewFileField(); return false;">
                        {% trans %}main.tableMap.tableList.form.label.addMore{% endtrans %}
                    </a>
                    <label class="validationError">{% trans %}main.tableMap.tableList.form.errors{% endtrans %}</label>
                    <input type="button" onClick="page.tableType.validateAddForm();" value="{% trans %}main.tableMap.tableList.form.label.load{% endtrans %}" class="but-load-file" />
                    <input type="hidden" id="peopleCountLabel" value="{% trans %}main.tableMap.tableList.form.label.tableOn{% endtrans %}" />
                    <input type="hidden" id="deleteFileIcon" value="{{ asset('bundles/tablerestaurant/images/deleteFile.png') }}" />
                </div>
            </div>   
        </div>    
    </div>
</form>
<script>

</script>