{% extends "TableMainBundle::layout4modal.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            setTimeout(function () { 
                location.reload();
            }, 5000);
        });
    </script>
{% endblock %}      
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="alert">
    {% trans %}main.order.form.message.success{% endtrans %}  
</div>
{% endblock content %}

{# empty Twig template #}
