{% extends 'TableMainBundle::layout_table_editor.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}    
{% block stylesheets %}
    {{ parent() }}
{% endblock %}    
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% include 'TableRestaurantBundle:TableDashboard:tableMapTabs.html.twig' %} 
        </div>
        <div class="row-fluid">
            <div class="span10">
                {# ==Modal Window for addTableType==#}
                    {% include 'TableRestaurantBundle:TableDashboard:addTableType.html.twig' %}
                {# ==Modal Window for addTableType==#}
            </div>
        </div>
        <div class="row-fluid" id="tableTypeContainer">
            {% include 'TableRestaurantBundle:TableDashboard:tableTypeList.html.twig' %} 
        </div>   
    </div>
{% endblock %}  