{% extends 'TableMainBundle::layout_table_editor.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}    
{% block stylesheets %}
    {{ parent() }}
{% endblock %}    
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% include 'TableRestaurantBundle:TableDashboard:tableMapTabs.html.twig' %} 
        </div>
        <div class="row-fluid">
            <div class="span12">
                {# ==Modal Window for addTableType==#}
                    {% include 'TableRestaurantBundle:TableDashboard:addTableType.html.twig' %}
                {# ==Modal Window for addTableType==#}
            </div>
        </div>
        <div class="row-fluid" id="tableTypeContainer">
            <table class="title-top_restoraunt">
                <tbody>
                    <tr>
                        <td><span></span></td>
                        <td><span><span>Список столов</span></span></td>
                        <td><span></span></td>
                    </tr>
                </tbody>
            </table><br>
            {% include 'TableRestaurantBundle:TableDashboard:tableTypeList.html.twig' %}
        </div>   
    </div>
{% endblock %}  