<script src="{{ asset('bundles/applicationsonatauser/js/jquery.form.js') }}"></script>
<script src="{{ asset('bundles/tablemain/js/cusel-min-2.5.js') }}"></script>
<div id="reservePopup4Admin" class="modal hide" data-backdrop="true">  
    <div class="modal-header">
        <a class="close" data-dismiss="modal"></a>
        <h3>{% trans %}main.order.form.title{% endtrans %} {{activeTable.tableMap.restaurant.name}}</h3>
    </div>
    <div class="modal-body">
        <div id="table-order-form-container">  
            {% include 'TableRestaurantBundle:TableDashboard:reserveActiveTableOrder.html.twig' %}    
        </div>
    </div>
</div> 