{% extends 'TableMainBundle::layout_table_editor.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}    
{% block stylesheets %}
    {{ parent() }}
{% endblock %}    
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div>
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#tableTypeList" data-toggle="tab">{% trans %}main.tableMap.tableList.header{% endtrans %}</a></li>
                <li><a href="#createMap" data-toggle="tab">{% trans %}main.tableMap.createMap.header{% endtrans %}</a></li>
                <li><a href="#tableOrderList" data-toggle="tab">{% trans %}main.tableMap.orders.header{% endtrans %}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tableTypeList">
                    {% include 'TableRestaurantBundle:TableDashboard:viewTableTypeList.html.twig' %} 
                </div>
                <div class="tab-pane" id="createMap">
                    {% include 'TableRestaurantBundle:TableDashboard:createMap.html.twig' %} 
                </div>
                <div class="tab-pane" id="tableOrderList">
                    {% include 'TableRestaurantBundle:TableDashboard:viewTableOrderList.html.twig' %} 
                </div>
            </div>
        </div>
    </div>

</div>  
{% endblock %}    