<div class="row">
    <div class="span2 copyright">
        &copy; Table4you 2013
    </div>
    <div class="span4 email-telephone">
         <span>+7 063 073 40 61</span>
         <span>info@table4you.ru</span>
         <img src="{{ asset('bundles/tablemain/images/qr-code.jpg') }}" alt="QR" />
    </div>
</div>