body{font-family: Trebuchet MS, sans-serif;}

/* Main page */
.container-fluid{padding:0px;}
.restaurantList-container .restaurant-container{
    border-bottom: 1px solid #ccc;
    height: 195px;
    margin-top: 24px;
}
.restaurantList-container .restaurant-container .restaurant-img-container{
    width: 180px;
    height: 150px;
    float: left;
}
.restaurant-container .restaurant-img-container .restaurant-img{
    width: 152px;
    height: 150px;
    margin: 0px 0px 0px 17px;
    border-radius: 3px;
}
.restaurantList-container .restaurant-container .restaurant-content{
    width: 346px;
    float: left;
    color:#454545;
}
.restaurantList-container .restaurant-container .restaurant-content .restaurant-content-name a{color:#454545;}
.restaurantList-container .restaurant-container .restaurant-content .restaurant-content-font{
    font-size: 11.9px;
    font-style: italic;
}
.restaurantList-container .restaurant-container .restaurant-content-reserve{
    width: 120px;
    height: 60px;
    float: right;
}
.restaurantList-container .restaurant-container .restaurant-content-reserve input{
    background: #feb200;
    background: -moz-linear-gradient(top, #feb200 0%, #e2601b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb200), color-stop(100%,#e2601b));
    background: -webkit-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -o-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -ms-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: linear-gradient(to bottom, #feb200 0%,#e2601b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb200', endColorstr='#e2601b',GradientType=0 );
    border: 0px;
    width: 100%;
    padding: 5px 0px;
    color: #fffefe;
    font-size: 15px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    box-shadow: none;
    margin-top: 9px;
}
/* end main page */

/* MODAL WINDOW REGISTRATION */
.modal{
    width: 816px;
    position: absolute;
}

.modal-registration, .modal-login{
    width: 345px;
}
.modal, .modal label, .modal input, .modal ul li, .modal h3 {
    font-family: Trebuchet MS;
}
.modal-body {
    max-height: 100%;
    background: #f1efed;
    padding: 0px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}
.modal-registration{
    background: #f1efed;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.modal-registration-title, .modal-login-title{
    background: #e4e3e2;
    border: 0px;
    padding-left: 14px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    height: 18px;
    padding-top: 3px;
    padding-bottom: 16px;
}
.modal-registration-title img#registrationPreloader, .modal-login-title img#loginPreloader{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 40px;
}
.modal-registration-title .close, .modal-login-title .close{
    background: url(../images/close-modal.png) no-repeat;
    display: block;
    width: 14px;
    height: 14px;
    margin-top: 6px;
}
.modal-registration-title h3, .modal-login-title  h3{
    font-size: 15.31px;
    color: #353535;
    margin: 0px;
}
.modal-registration #fos-registration-form{
    margin-bottom: 1%;
}
.modal-registration #fos_user_registration_form div, .modal-login #fos-login-form div{
    margin: 0px 21px 0px 17px;
}
.modal-registration #fos_user_registration_form div.password-registration{
    position: relative;
}
.modal-registration #fos_user_registration_form div+div+div+div.password-registration+div, .modal-registration #fos_user_registration_form div.captcha-img{
    margin-top: 0px;
}
.modal-registration #fos_user_registration_form div ul li, .error-text-login, .sonata-user-edit-profile .user-edit-profile div ul li, .table-order-form .container-fluid .error-li li{
    list-style: none;
    font-size: 11px;
    color: #ff0000;
}
.error-text-login{
    margin: 0px 21px 0px 17px;
}
.modal-registration #fos_user_registration_form div label, .modal-login #fos-login-form label{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #9c9a9a;
    margin-bottom: 14px;
    cursor: default;
    line-height: 13px;
}
#fos_user_registration_form{
    overflow: hidden;
}
.modal-registration #fos_user_registration_form ul,.sonata-user-edit-profile .user-edit-profile div ul {
    margin: 0px;
    margin-bottom: 10px;
}
.modal-registration #fos_user_registration_form div input, .modal-login #fos-login-form div input{
    font-size: 14px;
    color: #353535;
    width: 292px;
    padding: 2px 0px 2px 12px;
    margin-bottom: 13px;
    background: -moz-linear-gradient(top, #e2e0e0 0%, #f1f0f0 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e0e0), color-stop(99%,#f1f0f0));
    background: -webkit-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -o-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -ms-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: linear-gradient(to bottom, #e2e0e0 0%,#f1f0f0 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e0e0', endColorstr='#f1f0f0',GradientType=0 );
    border: 1px solid #cccdcf;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
}
.modal-login #fos-login-form div.checkbox-login input{
    width: 13px;
    float: left;
    margin: 0px;
    margin-top: -1px;
    border-radius: 50%;
}
.modal-login #fos-login-form{
    margin:0px;
}
#table-order-form-container .container-fluid{
    padding: 15px 20px 0 !important;
}
#table-order-form-container label{
    font-size: 18px;
    color: #9c9a9a;
    margin-bottom: 10px !important;
}
#table-order-form div.captcha-img label{
    display: inline;
    float: left;
}
#table-order-form div.captcha-img input{
    width: 130px;
    margin-top: 3px;
    margin-left: 50px;
}
#table-order-form-container textarea{
    display: block;
    resize: none;
    width: 350px;
    float: right;
    position: relative;
    height: 50px;
}
#table-order-form-container div.button-reserve{
    float: right;
}
#table-order-form-container div.button-reserve input{
    background: #feb200;
    background: -moz-linear-gradient(top, #feb200 0%, #e2601b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb200), color-stop(100%,#e2601b));
    background: -webkit-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -o-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -ms-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: linear-gradient(to bottom, #feb200 0%,#e2601b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb200', endColorstr='#e2601b',GradientType=0 );
    border: 0px;
    width: 170px;
    padding: 8px 0px;
    color: #fffefe;
    font-size: 15px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    box-shadow: none;
}
.modal-login #fos-login-form div.boxChecked label, .modal-login #fos-login-form div.boxUnchecked label, .table-order-form div.boxChecked label, .table-order-form div.boxUnchecked label{
    float: none;
    font-size: 13.6px !important;
    color: #353535;
    margin-left: 20px;
    width: 105px;
}
.modal-registration #fos_user_registration_form div input#fos_user_registration_form_phone{
    color: #858181;
    font-size: 12px;
}
.modal-registration #fos_user_registration_form div.button-registration{
    padding: 9px 0px 0px 0px;
    margin-top: 63px;
}
.modal-login #fos-login-form .button-login input{
    margin-bottom: 20px;
}
.modal-registration #fos_user_registration_form div.button-registration input, .modal-login #fos-login-form .button-login input{
    background: #feb200;
    background: -moz-linear-gradient(top, #feb200 0%, #e2601b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb200), color-stop(100%,#e2601b));
    background: -webkit-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -o-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -ms-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: linear-gradient(to bottom, #feb200 0%,#e2601b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb200', endColorstr='#e2601b',GradientType=0 );
    border: 0px;
    width: 307px;
    padding: 5px 0px;
    color: #fffefe;
    font-size: 15px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    box-shadow: none;
}
.modal-registration #fos_user_registration_form div input#fos_user_registration_form_captcha{
    width: 109px;
    float: right;
    padding: 1px 0px 0px 10px;
    position: relative;
    top: 6px;
    border: 1px solid #ccc;
    box-shadow: none;
    background: #fff;
}
.modal-registration #fos_user_registration_form div.text-capcha {
    color: #161616;
    font-size: 15px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    height: 75px;
}
#fos_user_registration_form .password-registration #fos_user_registration_form_plainPassword, #fos_user_registration_form .password-registration #fos_user_registration_form_plainPassword div{
    margin: 0px;
    height: 100%;
    position: relative;
}
.password-registration #fos_user_registration_form_plainPassword div+div{
    width: 100%;
    height: 62px;
    float: left;
}
.restaurant-photo-modal img{
    width: 404px;
    height: 324px;
}
.modal-registration #fos_user_registration_form div input.error-form-registration, #fos-login-form div input.error-form-login, .sonata-user-edit-profile .user-edit-profile div input.error-form-profile, .table-order-form .captcha-img .error-form-reserve{
    border: 1px solid #ff0000;
    box-shadow: none;
}
.modal-registration #fos_user_registration_form div input:focus, .modal-registration #fos_user_registration_form div input#fos_user_registration_form_captcha:focus, .modal-login #fos-login-form div input:focus, .sonata-user-edit-profile .user-edit-profile div input:focus{
    border: 1px solid #fe8504;
    outline: none;
    box-shadow: none;
}
.captcha-img img{
    float: left;
    height: 36px;
}
.captcha-img a{
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    background: url(../images/capcha-reset.png) no-repeat;
    margin-left: 13px;
    text-indent: -9999px
}
.captcha-img ul{
    margin: 0px;
    margin-left: 25px;
}

div.boxChecked {
    background: url(../images/checkbox-sprite.png) no-repeat 0 -2px;
}
div.boxUnchecked {
    background: url(../images/checkbox-sprite.png) no-repeat 0 -26px;float: left;
}
div.boxChecked input, div.boxUnchecked input {
    cursor: pointer;
    margin: 0px;
    margin-right: 5px;
    padding: 0px!important;
    width: 16px!important;
    height: 13px;
    opacity: 0;
    float: left;
}
.modal-login #fos-login-form div.boxChecked label, .modal-login #fos-login-form div.boxUnchecked label{
    cursor: pointer;
    float: none!important;
    width: 125px!important;
  }
 .table-order-form div.boxChecked label, .table-order-form div.boxUnchecked label{
    cursor: pointer;
    float: none!important;
    width: 100%;
}
.choose-zone{
    height: 50px;
}
.choose-zone p{
    display: block;
    width: 50%;
    float: left;
}
.choose-zone p input[type="checkbox"]{
    float: left;
    margin-right: 10px;
}
.choose-zone p label{
    display: inline;
    font-size: 13px !important;
    color: #353535 !important;
}
/* end MODAL */

.modal-registration #fos_user_registration_form div label.check-passwords {
    display: none;
    position: absolute;
    top: 99px;
    right: 5px;
    width: 12px;
    height: 13px;
}
.open{*z-index:1000;}.open>.dropdown-menu{display:block;}
/* User Profile */
.sonata-user-show .user-profile-label {
    display: block;
    font-size: 14px;
    color: #9c9a9a;
    margin-bottom: 13px;
}
.sonata-user-show .user-profile-label+span {
    display: block;
    font-size: 15px;
    color: #353535;
    width: 336px;
    height: 26px;
    padding: 6px 0px 0px 12px;
    background: -moz-linear-gradient(top, #e2e0e0 0%, #f1f0f0 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e0e0), color-stop(99%,#f1f0f0));
    background: -webkit-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -o-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -ms-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: linear-gradient(to bottom, #e2e0e0 0%,#f1f0f0 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e0e0', endColorstr='#f1f0f0',GradientType=0 );
    border: 1px solid #cccdcf;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
}
.sonata-user-show a.user-profile-but, .user-edit-profile .user-profile-but{
    width: 350px;
    padding: 7px 0px;
    margin-top: 16px;
    text-align: center;
    display: block;
    color: #fffefe;
    font-size: 15px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    background: #feb200;
    background: -moz-linear-gradient(top, #feb200 0%, #e2601b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb200), color-stop(100%,#e2601b));
    background: -webkit-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -o-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -ms-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: linear-gradient(to bottom, #feb200 0%,#e2601b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb200', endColorstr='#e2601b',GradientType=0 );
    border: 0px;
    cursor: pointer;
}
.user-edit-profile .user-profile-but{
    margin-top: 21px;
}
.sonata-user-show a.user-profile-but:hover{text-decoration: none;}

.sonata-user-edit-profile .user-edit-profile div, .sonata-user-edit-profile .user-edit-profile div > div input#sonata_user_profile_form_newPassword_first{
    margin-bottom: 12px;
}
.sonata-user-edit-profile .user-edit-profile div{
    width: 400px;
    position: relative;
}
.sonata-user-edit-profile .user-edit-profile div label{
    width: 130px;
    font-size: 14px;
    color: #9c9a9a;
    margin: 0px 0px 13px 1px;
}
.sonata-user-edit-profile .user-edit-profile div label.check-passwords{
    display: none;
    position: absolute;
    top: 115px;
    right: 5px;
    width: 12px;
    height: 13px;
}
.sonata-user-edit-profile .user-edit-profile div input{
    width: 370px;
    height: 18px;
    padding-left: 10px;
    color: #353535;
    background: -moz-linear-gradient(top, #e2e0e0 0%, #f1f0f0 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e0e0), color-stop(99%,#f1f0f0));
    background: -webkit-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -o-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -ms-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: linear-gradient(to bottom, #e2e0e0 0%,#f1f0f0 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e0e0', endColorstr='#f1f0f0',GradientType=0 );
    border: 1px solid #cccdcf;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
}
.sonata-user-edit-profile .user-edit-profile .user-edit-profile-telephone input{
    color:#858181;
}
.user-edit-profile .user-profile-but{width: 397px;}
.sonata-user-edit-profile .user-edit-profile div>div{position: relative;}
#bothPasswordsMatchInProfile{
    display: none;
    position: absolute;
    top: 110px;
    right: 5px;
}
#tableOrderForm_tableNumber,
#tableOrderForm_peopleCount{
    width: 40px;
    font-size: 14px;
    color: #353535;
    padding: 8px 0 7px 12px;
    margin-bottom: 8px;
    background: -moz-linear-gradient(top, #e2e0e0 0%, #f1f0f0 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e0e0), color-stop(99%,#f1f0f0));
    background: -webkit-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -o-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -ms-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: linear-gradient(to bottom, #e2e0e0 0%,#f1f0f0 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e0e0', endColorstr='#f1f0f0',GradientType=0 );
    border: 1px solid #cccdcf;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
}
input#tableOrderForm_tableNumber:focus, 
input#tableOrderForm_peopleCount:focus{
    border: 1px solid #fe8504;
    outline: none;
    box-shadow: none;
}
.floor-tabs{
    list-style: none;
    margin: 0;
    padding: 0;
}
.floor-tabs li{
    float: left;
    font-size: 18px;
    margin-left: 22px;
}
.floor-tabs li:first-of-type{
    margin-left: 0;
}
.floor-tabs li a{
    color: #4a4a4c;
    text-decoration: none;
}
.floor-tabs li a.active,
.floor-tabs li a:hover{
    color: #eb7200;
}
#register,
#login{
    margin-left: -172px !important;
}
.table-order-form select{
    width: 180px;
}
/* end user profile  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /*ie10*/
   .modal-registration #fos_user_registration_form div input, .modal-login #fos-login-form div input{
    color:#353535!important;
   }
   .sonata-user-edit-profile .user-edit-profile div input{
     color:#353535!important;
   }
}



#table-order-form .reserveDate .ui-widget-header .ui-datepicker-prev .ui-icon {
    background-position: -91px -16px;
    background-image: url(images/ui-icons_ef8c08_256x240.png);
}
#table-order-form .reserveDate .ui-widget-header .ui-datepicker-next .ui-icon {
    background-position: -37px -16px;
    background-image: url(images/ui-icons_ef8c08_256x240.png);
}

#table-order-form .reserveDate .ui-datepicker-prev-hover, #table-order-form .reserveDate .ui-datepicker-prev-hover span{
    background: none; 
    border: 0;
    left:26.6%;
    top:7.5px;
}
#table-order-form .reserveDate .ui-datepicker-next-hover, #table-order-form .reserveDate .ui-datepicker-next-hover span{
    background: none; 
    border: 0;
    left:66.4%;
    top:7.5px; 
}
.table-order-form{margin: 0;}
.table-order-form .floor-tabs {margin-top: 25px;}
#table-order-form-container  .table-order-form .label-font-size-modal label{font-size: 15px;}
#table-order-form-container  .table-order-form .label-font-size_modal label{font-size: 16px;}
#tableOrderForm_reserveTime{margin-top: -10px;}
#table-order-form .cusel{top: 11px;}
.cusel, .cuselFrameRight, .jScrollPaneDrag, .jScrollArrowUp, .jScrollArrowDown {
background: url(images/selects-2.png) no-repeat;
.cusel:hover, .cusel:hover .cuselFrameRight, .cusel:focus, .cusel:focus .cuselFrameRight, .cuselFocus, .cuselFocus .cuselFrameRight {
background-image: url(images/selects-2.png);