/* MODAL WINDOW REGISTRATION */

.modal{
    width: 470px;
    /*height: 868px;*/
    position: absolute;
    top: 0px;
}
/*@media (max-height:768px) {
    .modal{
        top: 1%;
    }
}*/
.modal, .modal label, .modal input, .modal ul li, .modal h3 {
    font-family: Trebuchet MS;
}
.modal-body {
    max-height: 100%;
    background: #f1efed;
    padding: 0px;
    padding-top: 40px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}
.modal-registration{
    background: #f1efed;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.modal-registration-title{
    background: #e4e3e2;
    border: 0px;
    padding-left: 14px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    height: 27px;
}
.modal-registration-title img#registrationPreloader{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 40px;
}
.modal-header .close{
    background: url(../images/close-modal.png) no-repeat;
    display: block;
    width: 14px;
    height: 14px;
    margin-top: 6px;
}
.modal-registration-title h3 {
    font-size: 18px;
    color: #353535;
    margin: 0px;
}
.modal-registration #fos-registration-form{
    margin-bottom: 1%;
}
.modal-registration #fos_user_registration_form div{
    margin: 0px 29px 0px 31px;
   /* height: 85px;*/
}
.modal-registration #fos_user_registration_form div+div+div{
    margin-top: 16px;
}
.modal-registration #fos_user_registration_form div+div+div+div.password-registration{
    margin-top: 3px;
    /*min-height: 180px;*/
}
.modal-registration #fos_user_registration_form div+div+div+div.password-registration+div, .modal-registration #fos_user_registration_form div.captcha-img{
    margin-top: 0px;
}
.modal-registration #fos_user_registration_form div ul li{
    list-style: none;
    font-size: 11px;
    color: #ff0000;
}
.modal-registration #fos_user_registration_form div label{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #9c9a9a;
    margin-bottom: 15px;
    cursor: default;
    line-height: 13px;
}
#fos_user_registration_form{
    overflow: hidden;
}
.modal-registration #fos_user_registration_form ul{
    margin: 0px;
    margin-bottom: 10px;
}
.modal-registration #fos_user_registration_form div input{
    font-size: 18px;
    color: #353535;
    width: 396px;
    padding: 9px 0px 9px 12px;
    margin-bottom: 19px;
    background: -moz-linear-gradient(top, #e2e0e0 0%, #f1f0f0 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e0e0), color-stop(99%,#f1f0f0));
    background: -webkit-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -o-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: -ms-linear-gradient(top, #e2e0e0 0%,#f1f0f0 99%);
    background: linear-gradient(to bottom, #e2e0e0 0%,#f1f0f0 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e0e0', endColorstr='#f1f0f0',GradientType=0 );
    border: 1px solid #cccdcf;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 0px 3px rgba(238, 238, 238, 0.7), inset -2px 0px 3px rgba(238, 238, 238,0.7), inset 0px 2px 1px rgba(0, 0, 0, 0.7);
}
.modal-registration #fos_user_registration_form div.button-registration{
    padding: 9px 0px 0px 0px;
    margin-top: 90px;
}
.modal-registration #fos_user_registration_form div.button-registration input{
    background: #feb200;
    background: -moz-linear-gradient(top, #feb200 0%, #e2601b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb200), color-stop(100%,#e2601b));
    background: -webkit-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -o-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: -ms-linear-gradient(top, #feb200 0%,#e2601b 100%);
    background: linear-gradient(to bottom, #feb200 0%,#e2601b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb200', endColorstr='#e2601b',GradientType=0 );
    border: 0px;
    width: 410px;
    padding: 10px 0px;
    color: #fffefe;
    font-size: 20px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    box-shadow: none;
}
.modal-registration #fos_user_registration_form div input#fos_user_registration_form_captcha{
    width: 152px;
    float: right;
    padding: 3px 0px 3px 10px;
    position: relative;
    top: 9px;
    border: 1px solid #ccc;
    box-shadow: none;
    background: #fff;
}
.modal-registration #fos_user_registration_form div.text-capcha {
    color: #161616;
    font-size: 15px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    height: 75px;
}

#fos_user_registration_form .password-registration #fos_user_registration_form_plainPassword, #fos_user_registration_form .password-registration #fos_user_registration_form_plainPassword div{
    margin: 0px;
    height: 100%;
}

.password-registration #fos_user_registration_form_plainPassword div+div{
    width: 100%;
    height: 62px;
    float: left;
}

.modal-registration #fos_user_registration_form div input.error-form-registration{
    border: 1px solid #ff0000;
}
.modal-registration #fos_user_registration_form div input:focus, .modal-registration #fos_user_registration_form div input#fos_user_registration_form_captcha:focus{
    border: 1px solid #fe8504;
    outline: none;
    box-shadow: none;
}
.captcha-img img{
    float: left;
}
.captcha-img a{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/capcha-reset.png) no-repeat;
    margin-left: 35px;
    text-indent: -9999px
}
.captcha-img ul{
    margin: 0px;
    margin-left: 25px;
}
/* end MODAL */

#bothPasswordsMatch {
    display: none;
}

