{% extends "TableMainBundle::layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/applicationsonatauser/js/jquery.form.js') }}"></script>
    <script>
        $(function() { 
            $('#fos-login-form').submit(function() { 
                $(this).ajaxSubmit({
                    type: 'post',
                    beforeSubmit: function() {
                       $("#loginPreloader").show();
                    },
                    success: function(response) {  
                        
                        var error = $(response).find('.error-text-login').html();
                
                        if (typeof error !== "undefined") { 
                            // Error
                            $("#loginPreloader").hide();
                            $("#modal-login").html(response);
                        } else {
                            $("#loginPreloader").hide();
                         //   $('body').find('.modal-open').remove();
                          //  $('body').removeClass("modal-open");
    
                           // $('body').find('.modal-backdrop').remove();
                            $('div').removeClass("in");
                            $('body').find('.modal-backdrop').hide();
                            $('#login').hide();
                        }

                        return false;
                    }
                });
                return false;
            });    
        });  
    </script>
{% endblock %}   
{% block content %}
    <div class="modal-login" id="modal-login">
        {% include "SonataUserBundle:Security:login_content.html.twig" %}
    </div>   
{% endblock content %}

