{% extends "TableMainBundle::layout-reg.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/applicationsonatauser/js/jquery.form.js') }}"></script>
    <script>
        $(function() { 
            // Format window
            // 1 Change title
            $(".modal-login-title h3").html("{% trans %}main.login.form.title{% endtrans %}");
            // 2 Chnage width
            $( ".modal-login-title" ).parent( ".modal-reserve" ).attr("id", "login");
            $( ".modal-login-title" ).parent( ".modal-reserve" ).addClass("modal-login");
            $( ".modal-login-title" ).parent( ".modal-reserve" ).removeClass("modal-reserve");
            $(".modal-login > div.modal-body").css("overflow", "hidden");
 
            $('#fos-login-form').submit(function() { 
                $(this).ajaxSubmit({
                    type: 'post',
                    beforeSubmit: function() {
                       $("#loginPreloader").show();
                    },
                    success: function(response) {  
                        
                        var error = $(response).find('.error-text-login').html();
                
                        if (typeof error !== "undefined") { 
                            // Error
                            $("#loginPreloader").hide();
                            $("#modal-login").html(response);
                            return false;
                        } else {
                            window.location.reload();   
                            return false;
                        }
                    }
                });
                return false;
            });    
        });  
    </script>
{% endblock %}   
{% block content %}
    <div class="modal-login" id="modal-login">
        {% include "SonataUserBundle:Security:login_content.html.twig" %}
    </div>   
{% endblock content %}

